# Documentation
HELP.md

# Gradle & Build Output
.gradle/
build/
!build/reports/spotbugs/main.html
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

# Spring Tool Suite / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code & Tools
.vscode/
.continue/

app_logs_full.txt
db_logs.txt
/.ollamassist/conversations/9c038dbc-6e74-43d3-a8cf-3e5543c26d7d.json
/.ollamassist/conversations/1304bfd3-26e6-4531-8e78-0d70c5d030f1.json
/.ollamassist/conversations/6885cce4-0696-4535-a352-4d5e98d0399f.json
/.ollamassist/conversations/8621498b-d309-4fb6-a7b2-161476973abe.json
/.ollamassist/conversations/d3cb6e2e-42b6-4895-9d73-74dd1d565da6.json
/.ollamassist/conversations/d37d2068-c0c9-4b96-ad93-464d7a9639d3.json
/.ollamassist/conversations/d653c8e6-0db6-4e77-a79c-9d9c0721b270.json
/.ollamassist/conversations/eaaadf0e-86fb-49b8-8a59-b77d437df4e3.json
